@charset "utf-8";
/* CSS Document */
.content{
	width:1090px;
	height:500px;
	margin:10px 0 0 0;
	float:left;}
.content_p{
	color:#0C0;
	font-weight:bold;}
form{
	width:565px;
	height:500px;
	margin:auto;}
form input{
	width:400px;
	height:30px;}
form  p{
	font-size:18px;
	color:#F00;}	
.input_filed1{
	width:60px;
	height:15px;}				
.input_filed2{
	width:100px;
	height:30px;
	font-size:16px;}
.input_filed3{
	width:100px;
	height:30px;
	margin:0 80px 0 90px;
	background: #f00;
    font-size: 16px;
    color: white;
	border-radius:10px;}	
